.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.8s;
  width: 50%;
  border-radius: 5px;
  text-align:center;
  margin:20px 60px;
   min-width:260px;
   justify-content:center;
}

.card-header
{
  
}

.card-body
{
  transition:all ease-in 0.3s;
  text-align:center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   min-width:260px;
}

.card-body:hover 
{
  background-color:black;
  color:white;
  margin:10px;
  
}

.card:hover .card-body  {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color:#A9A9A9;
  color:white;
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
   min-width:260px;
  border-radius: 5px;
}

.contain
{
  width:40%;
  margin:auto;
  margin-top:40px;
  display: flex;
  min-width:260px;
}