.block-form
{
  margin:auto;
  width : 70%;
  text-align:center;
  
  border-radius : 0px 10px 10px 10px;
  border : 25px solid #708090;
  padding:20px;
  padding-top:30px;
  background-color: #F5FFFA;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation-name: anima;
  animation-duration: 1s;
  animation-timing-function: ease-out;

}

.block-form > input
{
  width:20%;
  height: 20%;
}

.check-form
{
  width:80%;
  margin:auto;
  margin-top:0px;
  padding: 30px;
  
  
}

.badg
{
  display:block;
  background-color : #708090;
  padding: 10px;
  margin: auto;
  margin-bottom:10px;
  
  width:60%;
  border-radius : 10px 10px 0px 10px;
  font-size:20px;
  color: white;
}


.block {
    
    position: fixed;
    float: right;
    right: 5%;
    top: 110px;
    width: 35%;
    margin: 40px;
    background-color: #e6f2ff;
    border-radius: 15px; 
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
    text-align: center;
     
}

.title{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}



@keyframes anima {
  0%   {left:50%; top:80%; opacity:0;}
  50%   {l opacity:0.4;}
  100% { left:50%; top:50%; opacity:1;}
}


